body {
  background: #8eff82;
}

h1 {
color: #82ff82;
}

p {
  font-size: 40px;
  color: violet;
}

button {
  padding: 30px;
  font-size: 50px;
}

.girl {
  color: purple;
  background: black;
}
.boy {
  color:pink;
  background: blue;
}
.art {
    width: 300px;
    display: none;
    height: 400px;
}
.kiten {
    width: 200px;
    display: none;
}
